<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="5; url='https://auth-dev.vatsim.net/oauth/authorize?client_id=319&redirect_uri=https%3A%2F%2Fserver.czvr-bot.xyz%3A5000%2Fvatsim%2Foauth&response_type=code&scope=full_name'">
</head>
<body>
    <p>Please follow <a href="https://auth-dev.vatsim.net/oauth/authorize?client_id=319&redirect_uri=https%3A%2F%2Fserver.czvr-bot.xyz%3A5000%2Fvatsim%2Foauth&response_type=code&scope=full_name">this link</a>.</p>
</body>
</html>